body,html {
  margin: 0;
  font-family: "Strjmono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Strjmono';
  font-weight: 900;
  src: local('Strjmono'), url(./assets/fonts/Strjmono.ttf) format('truetype');
}